.bg-home{
    background: url(../../image/Top_Banner\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
    background-position: center;
    transition: background-color 0.8s ease-in-out;  
}