.bg-home{
    background: url(../../image/Top_Banner\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
    background-position: center;
    transition: 0.8s ease-in-out;  
}

.welcome,
.ecoforest{
    font-family: TerminaW05-Bold !important;
}